@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* in your CSS */
body {
  font-family: "Poppins", sans-serif;
}

.parent > * {
  transition: color 0.15s ease, background-color 0.15s ease; /* Apply transition to color and background-color */
}

.transition-join-custom {
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 150ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 150ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 300ms ease;
}

/* Base Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

/* ::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 8px;
} */

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6; /* Tailwind blue-500 */
  border-radius: 8px;
  /* border: 2px solid #f0f0f0; */
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb; /* Tailwind blue-600 */
}

/* Dark mode overrides */
/* html.dark ::-webkit-scrollbar-track {
  background: #1f2937; 
} */

html.dark ::-webkit-scrollbar-thumb {
  background: #60a5fa; /* lighter blue */
  /* border: 2px solid #1f2937; */
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; /* blue-500 */
  cursor: pointer;
}
